
{{!-- <div class="ui one column centered grid middle aligned"> --}}
  {{!-- <div class="one column centered row"> --}}
  <div id="AppWrapper">
  	<button id="StartBtn" class="ui secondary basic button big">Get Started</button>
  </div>
  {{!-- </div> --}}
{{!-- </div> --}}

