<div id="AppWrapper">
  <div id="HeadingCanvasWrapper">
    <h1 id="Title">tiny shirt co.</h1>
    <h4 id="SubTitle">tiny things on normal shirts.</h4>
  </div>
{{!--   <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
      <img id="ProductImage" src="/images/avo2.jpg"></img>
    </div>
  </div> --}}
  <div id="StartBtnContainer" class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
       <button id="StartBtn" onClick="handleStartClicked();" class="ui teal button big">Get Started</button>
   </div>
</div>
</div>

<script src="/javascripts/index.js" type="text/javascript"></script>