<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <img id="ProductImage" src={{data.url}}></img>
  </div>
</div>
<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h1>{{data.title}}</h1>
  </div>
</div>
<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <p>{{data.description}}</p>
  </div>
</div>
<div id="AddToCartBtnContainer" class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <button id="AddToCartBtn" onClick="handleAddToCart();" class="ui teal button big">Add To Cart</button>
  </div>
</div>
<script src="javascripts/shirts.js"></script>